body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(3, 0, 0);
}
.post{
    background-color: rgb(233, 227, 227);
    width: 400px;
}

.post-header{
    display: flex;
    justify-content: space-between; /*Separa left y right*/
    align-items: center;
    padding: 10px 14px;
}

.user-info-left{
    display:flex;
    
    align-items: center;
    gap: 8px;
}
.texto strong{
    font-size: 14px;
    display: block; /*ocupe 1 linea*/
}
.texto p{
    font-size: 12px;
    color: #666;
    margin: 0;
}
.post-footer {
    padding: 0 5px 5px 5px; 
}

.footer-icons{
    display: flex;     /*hijos en fila*/
    justify-content: space-between;
    align-items: center;
}
.footer-icons-left{
    display: flex;
    gap: 10px; /*Espacio entre iconos*/
    padding-left: 5px;
}
.footer-icons-right{
    padding: 10px;
}
img{
    width: 100%;
    display: block;
}

.footer-text p{
    padding: 10px;
}